# Default owner for all files
* @jumanaAlrehaili

# Backend
/backend/ @jumanaAlrehaili

# Frontend
/frontend/ @jumanaAlrehaili

# Repository documentation and configuration
README.md @jumanaAlrehaili
CODEOWNERS @jumanaAlrehaili
LICENCE @jumanaAlrehaili
